<ion-view title="iKwamena weds Stella">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-nav-buttons side="right">
    <div class="ion-loading-c" >
    </div>
  </ion-nav-buttons> 
  <ion-content class="has-header">
      <!-- <ion-header-bar class="bar bar-loading bar-assertive" ng-if="data.isLoading">
    connecting...
    </ion-header-bar>-->
     
   <ion-item ng-repeat="listitems in imagelist">
   <div class="list card">
  <div class="item item-avatar">
    <img ng-src ="pics/{{listitems.pic }}" width="50" height="50"/>
  </div>
</div>
       <div class="details">
          <img ng-src="pics/{{listitems.pic }}" width="100" height="100"/>
      </div>
      </ion-item>
  </ion-content>
     
</ion-view>
